n8n/workflow_triagem_leads.json
{
  "name": "IAtria - Triagem Inteligente de Leads",
  "nodes": [
    {
      "parameters": {
        "path": "iatria-leads",
        "httpMethod": "POST",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Leads",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "nome",
              "type": "string",
              "value": "={{ $json.body?.nome ?? $json.nome }}"
            },
            {
              "name": "email",
              "type": "string",
              "value": "={{ $json.body?.email ?? $json.email }}"
            },
            {
              "name": "mensagem",
              "type": "string",
              "value": "={{ $json.body?.mensagem ?? $json.mensagem }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2",
      "name": "Normalizar Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/triagem",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "3",
      "name": "Triagem Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "vendas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "vendas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "suporte",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "suporte"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            }
          ]
        },
        "options": {}
      },
      "id": "4",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://httpbin.org/post",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"pipeline\": \"hubspot-mock\", \"nome\": $(\"Normalizar Lead\").first().json.nome, \"email\": $(\"Normalizar Lead\").first().json.email, \"mensagem\": $(\"Normalizar Lead\").first().json.mensagem, \"intent\": $json.intent, \"sentiment\": $json.sentiment, \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "5",
      "name": "HubSpot Mock",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL + \"/rest/v1/lead_metrics\" }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "={{ \"Bearer \" + $env.SUPABASE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"nome\": $(\"Normalizar Lead\").first().json.nome, \"email\": $(\"Normalizar Lead\").first().json.email, \"mensagem\": $(\"Normalizar Lead\").first().json.mensagem, \"intent\": $json.intent, \"sentiment\": $json.sentiment, \"fallback\": $json.fallback } }}",
        "options": {}
      },
      "id": "6",
      "name": "Supabase Insert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1420, 300]
    }
  ],
  "connections": {
    "Webhook Leads": {
      "main": [
        [
          {
            "node": "Normalizar Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar Lead": {
      "main": [
        [
          {
            "node": "Triagem Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Triagem Backend": {
      "main": [
        [
          {
            "node": "Switch Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Intent": {
      "main": [
        [
          {
            "node": "HubSpot Mock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Mock": {
      "main": [
        [
          {
            "node": "Supabase Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {},
  "versionId": "f4ef1a53-f18a-4d01-a01f-914c579ab2ea",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "iatria-triagem"
}
